SUPABASE_URL=https://zdswstwqiuqmfdmgxmzx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJIUzI1NiIsInJlZiI6Inpkc3dzdHdxaXVxbWZkbWd4bXp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxMDk1MDcsImV4cCI6MjA5NTY4NTUwN30.6UYGyEnR3FLqD-_67AdHBkPfWA62wgDpiDh-tflbYUg
